{%  include "teacher/header.html" %}

{%  include "teacher/sidebar.html" %}

<div class="ks-column ks-page">
    <div class="ks-page-header">
        <section class="ks-title-and-subtitle">
            <div class="ks-title-block">
                <h3 class="ks-main-title">Dashboard</h3>

                <!--<h3 class="ks-main-title">{{db1[2]}}</h3>-->

            </div>
        </section>
    </div>
    <div class="ks-page-content">
        <div class="ks-page-content-body">
            <div class="ks-dashboard-tabbed-sidebar">
                <div class="ks-dashboard-tabbed-sidebar-widgets">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card ks-widget-payment-simple-amount-item ks-orange">
                                <a href="/teachertt">
                                    <div class="payment-simple-amount-item-icon-block">
                                        <span class="la la-calendar ks-icon"></span>
                                    </div>
                                </a>
                                <a href="/teachertt">
                                    <div class="payment-simple-amount-item-body">
                                        <div class="payment-simple-amount-item-amount">
                                            <span class="ks-amount">
                                            </span>
                                        </div>
                                        <div class="payment-simple-amount-item-description">
                                            Timetable
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
<!--                        <div class="col-lg-6 col-md-6">-->
<!--                            <div class="card ks-widget-payment-simple-amount-item ks-orange">-->
<!--                                <a href="/mark">-->
<!--                                    <div class="payment-simple-amount-item-icon-block">-->
<!--                                        <span class="ks-icon la la-list-alt"></span>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a href="/mark">-->
<!--                                    <div class="payment-simple-amount-item-body">-->
<!--                                        <div class="payment-simple-amount-item-amount">-->
<!--                                            <span class="ks-amount">-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                        <div class="payment-simple-amount-item-description">-->
<!--                                            Mark Sheet-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-6 col-md-6">-->
<!--                            <div class="card ks-widget-payment-simple-amount-item ks-orange">-->
<!--                                <a href="/attendance">-->
<!--                                    <div class="payment-simple-amount-item-icon-block">-->
<!--                                        <span class="ks-icon la la-edit"></span>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a href="/attendance">-->
<!--                                    <div class="payment-simple-amount-item-body">-->
<!--                                        <div class="payment-simple-amount-item-amount">-->
<!--                                            <span class="ks-amount">-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                        <div class="payment-simple-amount-item-description">-->
<!--                                            Attendance-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>