
<div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs">
    <!-- BEGIN DEFAULT SIDEBAR -->
    <div class="ks-column ks-sidebar ks-info">
        <div class="ks-wrapper ks-sidebar-wrapper">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item dropdown">
                    <a class="nav-link"  href="/faculty_defult" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="ks-icon la la-dashboard"></span>
                        <span>Home</span>
                    </a>
                </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link"  href="/teachertt" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="ks-icon la la-calendar"></span>
                        <span>Timetable</span>
                    </a>
                </li>
<!--                 <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/attendance" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="ks-icon la la-edit"></span>-->
<!--                        <span>Attendence</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                 <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/mark" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="ks-icon la la-list-alt"></span>-->
<!--                        <span>Marksheet</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/admin_c" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="la la-laptop ks-icon">-->
<!--&lt;!&ndash;                            <i class="fas fa-desktop"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="las la-laptop-code"></i>&ndash;&gt;-->
<!--                        </span>-->
<!--                        <span>Course</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/admin_s" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="la la-book ks-icon"></span>-->
<!--                        <span>Subject</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/admin_t" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="ks-icon-user ks-icon"></span>-->
<!--                        <span>Teacher</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/admin_tt" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="la la-calendar ks-icon"></span>-->
<!--                        <span>TimeTable</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--               <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/admin_news" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="la la-list ks-icon"></span>-->
<!--                        <span>Testimonial</span>-->
<!--                    </a>-->
<!--               </li>-->
<!--&lt;!&ndash;                <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="nav-link"  href="../Tables/inword" role="button" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="la la-file-text ks-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>Inwards</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/admin_signup" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="la la-graduation-cap ks-icon"></span>-->
<!--&lt;!&ndash;                        <i class="las la-graduation-cap"></i>&ndash;&gt;-->
<!--                        <span>Student Signup</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/student_detail" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="la la-info ks-icon"></span>-->
<!--&lt;!&ndash;                        <i class="las la-graduation-cap"></i>&ndash;&gt;-->
<!--                        <span>Student Detail</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link"  href="/contactus" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                        <span class="la la-envelope ks-icon"></span>-->
<!--&lt;!&ndash;                        <i class="las la-graduation-cap"></i>&ndash;&gt;-->
<!--                        <span>Contact Us</span>-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link"  href="/ll" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="la la-sign-out ks-icon"> </span>
<!--                        <form action="/ll" METHOD="post">-->
<!--                          <span><input type="submit" value="Logout"></span>-->
<!--                        </form>-->
                        <span>Logout</span>

                    </a>
                </li>
            </ul>
        </div>
    </div>
<!--</div>-->
    <!-- END DEFAULT SIDEBAR -->
<!--</div>-->