{%  include "admin/header.html" %}

{%  include "admin/sidebar.html" %}

<div class="ks-column ks-page">
    <div class="ks-page-header">
        <section class="ks-title-and-subtitle">
            <div class="ks-title-block">
                <h3 class="ks-main-title">Dashboard </h3>
            </div>
        </section>
    </div>
    <div class="ks-page-content">
        <div class="ks-page-content-body">
            <div class="ks-dashboard-tabbed-sidebar">
                <div class="ks-dashboard-tabbed-sidebar-widgets">
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <div class="card ks-widget-payment-simple-amount-item ks-orange">
                                <a href="/student_detail">
                                    <div class="payment-simple-amount-item-icon-block">
                                        <span class="la la-info ks-icon"></span>
                                    </div>
                                </a>
                                <a href="/student_detail">
                                    <div class="payment-simple-amount-item-body">
                                        <div class="payment-simple-amount-item-amount">
                                            <span class="ks-amount">
                                            </span>
                                        </div>
                                        <div class="payment-simple-amount-item-description">
                                            Student Details
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card ks-widget-payment-simple-amount-item ks-orange">
                                <a href="/admin_s">
                                    <div class="payment-simple-amount-item-icon-block">
                                        <span class="la la-book ks-icon"></span>
                                    </div>
                                </a>
                                <a href="/admin_s">
                                    <div class="payment-simple-amount-item-body">
                                        <div class="payment-simple-amount-item-amount">
                                            <span class="ks-amount">

                                            </span>
                                        </div>
                                        <div class="payment-simple-amount-item-description">
                                             &nbsp;  &nbsp; &nbsp; &nbsp; Courses
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <div class="card ks-widget-payment-simple-amount-item ks-orange">
                                <a href="/admin_t">
                                    <div class="payment-simple-amount-item-icon-block">
                                        <span class="ks-icon-user ks-icon"></span>
                                    </div>
                                </a>
                                <a href="/admin_t">
                                    <div class="payment-simple-amount-item-body">
                                        <div class="payment-simple-amount-item-amount">
                                            <span class="ks-amount">

                                            </span>
                                        </div>
                                        <div class="payment-simple-amount-item-description">
                                            Our Teacher
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card ks-widget-payment-simple-amount-item ks-orange">
                                <a href="/admin_tt">
                                    <div class="payment-simple-amount-item-icon-block">
                                        <span class="la la-calendar ks-icon"></span>
                                    </div>
                                </a>
                                <a href="/admin_tt">
                                    <div class="payment-simple-amount-item-body">
                                        <div class="payment-simple-amount-item-amount">
                                            <span class="ks-amount">

                                            </span>
                                        </div>
                                        <div class="payment-simple-amount-item-description">
                                            &nbsp; &nbsp; &nbsp; &nbsp; Timetable
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <div class="card ks-widget-payment-simple-amount-item ks-orange">
                                <a href="/admin_news">
                                    <div class="payment-simple-amount-item-icon-block">
                                        <span class="la la-list ks-icon"></span>
                                    </div>
                                </a>
                                <a href="/admin_news">
                                    <div class="payment-simple-amount-item-body">
                                        <div class="payment-simple-amount-item-amount">
                                            <span class="ks-amount">

                                            </span>
                                        </div>
                                        <div class="payment-simple-amount-item-description">
                                            Testimonial
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card ks-widget-payment-simple-amount-item ks-orange">
                                <a href="/admin_signup">
                                    <div class="payment-simple-amount-item-icon-block">
                                        <span class="la la-graduation-cap ks-icon"></span>
                                    </div>
                                </a>
                                <a href="/admin_signup">
                                    <div class="payment-simple-amount-item-body">
                                        <div class="payment-simple-amount-item-amount">
                                            <span class="ks-amount">

                                            </span>
                                        </div>
                                        <div class="payment-simple-amount-item-description">
                                            Student SignUp
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
