{%  include "admin/header.html" %}

{%  include "admin/sidebar.html" %}

<div class="ks-column ks-page">
    <div class="ks-page-header">
        <section class="ks-title">
            <!--<hs3>Tabs</h3>-->
        </section>
    </div>
    <div class="ks-page-content">
        <div class="ks-page-content-body ks-tabs-page-container">
            <div class="ks-tabs-container-description">
                <h3>Teacher</h3>
            </div>
            <div class="ks-page-content">
                <div class="ks-page-content-body">
                    <div class="ks-nav-body-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-10 ks-panels-column-section">
                                    <div class="card">
                                        <div class="card-block">
                                            <h5 class="card-title"></h5>
                                            <form action="/teacher_" method="post">
                                                {% for row in db %}
<!--                                                <div class="col-sm-10">-->
                                                        <input type="text" class="form-control" id="No"
                                                               placeholder="Add Category" name="No" value="{{row.0}}" hidden>
<!--                                                    </div>-->
                                                <div class="form-group row">
                                                    <label for="default-input"
                                                           class="col-sm-2 form-control-label">Image</label>
                                                    <div class="col-sm-10"><img src="{{url_for('static', filename='/img/teacher/')}}{{row.1}}" style="height:100px;width:100px;"></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="default-input"
                                                           class="col-sm-2 form-control-label">Name</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="Course_Name"
                                                               placeholder="Add Teacher Name" name="Name"
                                                               value="{{row.2}}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for=" default-input" class="col-sm-2
                                                    form-control-label">Information</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="info"
                                                               placeholder="Add Teacher Information" name="info"
                                                               value="{{row.3}}">
                                                    </div>
                                                </div>
                                                <center>
                                                    <button type="submit" class="btn btn-primary">Delete
                                                    </button>
                                                </center>
                                                {% endfor %}

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
