<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<!--Footer Widget Area Start-->
                <div class="footer-widget-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <div class="footer-logo">
                                        <h1> Parshwa Education </h1>
                                        <!--<a href="index.html"><img src="static/img/logo/footer.png" alt=""></a>-->
                                    </div>
                                    <p>Parshwa Education is a complete learning solution for a varied segment of learners.</p>
                                    <div class="social-icons">
                                        <a href="https://www.facebook.com/parshwa.infotech" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
<!--                                        <a href="#"><i class="zmdi zmdi-rss"></i></a>-->
                                        <a href="https://parshwaedu.business.site/" target="_blank"><i class="zmdi zmdi-google-plus"></i></a>
<!--                                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a>-->
                                        <a href="https://www.instagram.com/parshwainfotech/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3>GET IN TOUCH</h3>
                                    <a href="tel:555-555-1212"><i class="fa fa-phone"></i>+987561230</a>
                                    <span><i class="fa fa-envelope"></i>info@parshwaeducation.com</span>
                                    <span><i class="fa fa-globe"></i>www.parshwaeducation.com</span>
                                    <span><i class="fa fa-map-marker"></i>Ahmedabd</span>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-sm">
                                <div class="single-footer-widget">
                                    <h3>Useful Links</h3>
                                    <ul class="footer-list">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/course">Courses</a></li>
                                        <li><a href="/contact">Contact</a></li>
<!--                                        <li><a href="#">Terms &amp; Conditions</a></li>-->
<!--                                        <li><a href="#">Privacy Policy</a></li>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3>Instagram</h3>
                                    <div class="instagram-image">
                                        <div class="footer-img">
                                            <a href="#"><img src="static/img/footer/1.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="static/img/footer/2.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="static/img/footer/3.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="static/img/footer/4.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="static/img/footer/5.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="static/img/footer/6.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Footer Widget Area-->
                <!--Footer Area Start-->
                <footer class="footer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-7">
                                <span>Copyright &copy; Parshwa Education 2017.All right reserved.Created by <a href="#" ><b>Aryan Soni</b></a></span>
                            </div>
                            <div class="col-md-6 col-sm-5">
                                <div class="column-right">
                                    <span>Privacy Policy , Terms &amp; Conditions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!--End of Footer Area-->
</body>
</html>