<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parshwa Education</title>
</head>

<div>
    {% include "header.html" %}
</div>
<form id="contact-form" action="/forgotpassword" method="POST" onsubmit="myFunction()">
    <div class="contact-form-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4 class="contact-title">Forgot Password</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="email" name="Email_id" placeholder="email" required>
                        </div>
                        <div class="col-md-12">
                            <button type="submit">
<!--                                <a href="/" style="color:white">-->
                                    Submit
<!--                                </a>-->
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>
<div>
    {% include "footer.html" %}
</div>

<script type="text/javascript">
        function myFunction() {
            window.alert("We Have Mail You A Password.please Check Your Mail For Password.");
            window.location.href = "http://127.0.0.1:5000/";
        }
</script>